
.lyrics{



  >div{
  font-weight: 500;
    margin-bottom: 1.25rem;
    color: var(--color-primary);

  }



  >p{

    opacity: 0.65;
 position: relative;
   line-height: 1.8;
    margin: 0.6rem 0;



    &.active{
     opacity: 1;
      font-weight: 500;
    }
    .icon{
      position: relative;
      left: 50px;
      top: 50px;

    }




  }




}